body {
    background-color: #E6EEDA;
    background-image: url("./images/Photography-page.png");
    background-position:top;
    background-size: cover;
  }

a {margin-right: 30px;
 font-size: 25px;}



  .topnav {
    margin-right: 150;
    color: #304439;
    font-family: saira condensed;
    font-size: 35px;}

    a {
        text-decoration: none;
        float: right;
        color: #304439;
        margin-left: 100;
        margin-top: 50;
        text-align: center;
        font-size: 35px;
        font-family: saira condensed ;
    }

    .column1 {
      margin-left: 50px;
      margin-top: 180px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column1:hover {
      transform: scale(1.5);
  }
  
  .column2 {
      margin-left: 25px;
      margin-top: 430px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column2:hover {
      transform: scale(1.5);
  }
  
  .column3 {
      margin-left: 25px;
      margin-top: 180px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column3:hover {
      transform: scale(1.5);
  }
  
  .column4 {
      margin-left: 25px;
      margin-top: 430px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column4:hover {
      transform: scale(1.5);
  }
  
  .column5 {
      margin-left: 25px;
      margin-top: 180px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column5:hover {
      transform: scale(1.5);
  }
  
  .column6 {
      margin-left: 25px;
      margin-top: 430px;
      float: left;
      width: 10%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column6:hover {
      transform: scale(1.5);
  }
  
  .column7 {
      margin-left: 15px;
      margin-top: 180px;
      float: left;
      width: 5%;
      padding: 5px;
      transition: 0.2s;
  }
  
  .column7:hover {
      transform: scale(1.3);
  }
  
  .row {
      content: "";
      clear: both;
      display: table;
  }
  
  .photo {
      width: 250px;
      height: 200px;
  }
  .homebtn {
    float: left;
    width: 145px;
    height: 145px;
margin-right: 1250px;
margin-top: -55px;

}
